<!DOCTYPE html>
<html>
<head>
    <title>SQCS Score Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>

<section>
    <!--for demo wrap-->
    <h1>SQCS Score Board</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            {% for member in score_board %}
            <tr>
              <td>{{ member[0] }}</td>
              <td>{{ member[1] }}</td>>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</section>

<!-- follow me template -->
<div class="made-with-love">
    Made with
    <i>♥</i> by
    <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
</div>

</body>
</html>